section.section--introduction {
  text-align : center;

  svg {
    width         : 55px;
    height        : auto;
    margin-bottom : 1rem;
  }

  .row {

    > div {

      &:nth-of-type(1) {

        #beaker-color {
          fill : $ls-dark-blue !important;
        }
      }

      &:nth-of-type(2) {

        #beaker-color {
          fill : $ls-light-blue !important;
        }
      }

      &:nth-of-type(3) {

        #beaker-color {
          fill : $ls-red !important;
        }
      }

      &:nth-of-type(4) {

        #beaker-color {
          fill : $ls-yellow !important;
        }
      }
    }
  }

  h4 {
    text-align : center;
  }

  h5 {
    text-align : left;
  }
}