section.section--social-media {
  padding-top      : 1.5rem;
  padding-bottom   : 1.5rem;
  background-color : $grey-98;
  overflow         : hidden;

  .col {
    display     : flex;
    align-items : center;

    @media screen and (max-width : 768px) {
      display : block;
    }
  }

  .social-media-info {
    flex-shrink   : 0;
    padding-right : 2rem;
    margin-right  : 2rem;
    border-right  : 2px solid $lyrical-science-dark;

    @media screen and (max-width : 768px) {
      border-right  : 0;
      margin-bottom : 1rem;
    }

    h2 {
      margin-bottom  : 0;
      padding-bottom : 0;

      &:after {
        display : none;
      }
    }

    ul {
      display         : flex;
      justify-content : center;
      list-style-type : none;
      margin          : 0;
      padding         : 0;

      @media screen and (max-width : 768px) {
        justify-content : center;
      }

      li {
        
        &:last-of-type {

          a {
            margin-right : 0;
          }
        }
      }

      a {
        font-size    : 1.25rem;
        margin-right : 0.5rem;
        color        : $lyrical-science-light;
      }
    }
  }

  .social-media-feed {
    flex-grow   : 0;
    flex-shrink : 1;
    overflow    : hidden;

    div {
      overflow : hidden;
    }
  }
}