section.section--hero-our-story {
  background-color    : $lyrical-science-dark;
  min-height          : calc(100vh - 135px);
  display             : flex;
  align-items         : center;
  background-image    : url('/dist/images/lyrical-science-hero.jpg');
  background-size     : cover;
  background-position : center center;
  padding-top         : 0;
  padding-bottom      : 0;
  position            : relative;

  &:after {
    position         : absolute;
    background-color : transparentize($black, 0.5);
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    content          : "";
    display          : block;
  }

  .container {
    position : relative;
    z-index  : 1;
  }

  h1 {
    display     : block;
    color       : $white;
    text-align  : center;
    font-size   : 3rem;
    font-weight : bolder;
  }
}