section.section--featured-scientists {

  .scientists {
    align-items : stretch;

    > div {
      margin-bottom : 1rem;
    }
  }

  .card {
    height : 100%;
  }

  .card-footer {
    text-align : center;
  }
}