// Colours
$black : hsl(0, 0%, 0%);
$white : hsl(0, 0%, 100%);

$grey-10 : hsl(0, 0%, 10%);
$grey-94 : hsl(0, 0%, 94%);
$grey-98 : hsl(0, 0%, 98%);

$lyrical-science-dark : hsl(203, 25%, 14%);
$lyrical-science-light : hsl(204, 25%, 41%);
$lyrical-science-highlight : hsl(153, 82%, 53%);
