.asterisk {
  color: red;
}
.blurb {
  font-size: 12px;
}
.landing {
	text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
	display: block;
}
.hero {
    position: relative;
    height: 0;
    padding-bottom: 60%;
    z-index: 1;
}
